In [1]:
import mysql.connector

In [9]:
mydb = mysql.connector.connect(host = 'localhost', user = 'root', passwd = '4V1sh44!', database = 'testdb')

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM msft HAVING High > 128 ORDER BY High desc LIMIT 3")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('2020-02-11', 190.649994, 190.699997, 183.5, 184.440002, 183.426743, 53159900)
('2020-02-10', 183.580002, 188.839996, 183.25, 188.699997, 187.66333, 35844300)
('2020-02-19', 188.059998, 188.179993, 186.470001, 187.279999, 186.759857, 29997500)

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
filename = 'msft.csv'

In [6]:
df = pd.read_csv(filename)

In [7]:
print(df)

           Date        Open        High         Low       Close   Adj Close  \
0    2019-05-28  126.980003  128.000000  126.050003  126.160004  124.626442
1    2019-05-29  125.379997  125.389999  124.040001  124.940002  123.421265
2    2019-05-30  125.260002  125.760002  124.779999  125.730003  124.201653
3    2019-05-31  124.230003  124.620003  123.320000  123.680000  122.176575
4    2019-06-03  123.849998  124.370003  119.010002  119.839996  118.383247
..          ...         ...         ...         ...         ...         ...
246  2020-05-18  185.750000  186.199997  183.960007  184.910004  184.396439
247  2020-05-19  185.029999  186.600006  183.490005  183.630005  183.119995
248  2020-05-20  184.809998  185.850006  183.940002  185.660004  185.660004
249  2020-05-21  185.399994  186.669998  183.289993  183.429993  183.429993
250  2020-05-22  183.190002  184.460007  182.539993  183.509995  183.509995

       Volume
0    23128400
1    22763100
2    16829600
3    26646800
4    37983600
..        ...
246  35306600
247  26799100
248  31261300
249  29119500
250  20809700

[251 rows x 7 columns]

In [9]:
print(df.dtypes)

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [10]:
print(df.index)

RangeIndex(start=0, stop=251, step=1)

In [11]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [12]:
print(df.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [13]:
df.values

array([['2019-05-28', 126.980003, 128.0, ..., 126.160004, 124.626442,
        23128400],
       ['2019-05-29', 125.379997, 125.389999, ..., 124.940002,
        123.42126499999999, 22763100],
       ['2019-05-30', 125.260002, 125.760002, ..., 125.730003,
        124.20165300000001, 16829600],
       ...,
       ['2020-05-20', 184.809998, 185.850006, ..., 185.66000400000001,
        185.66000400000001, 31261300],
       ['2020-05-21', 185.399994, 186.669998, ..., 183.429993,
        183.429993, 29119500],
       ['2020-05-22', 183.190002, 184.46000700000002, ..., 183.509995,
        183.509995, 20809700]], dtype=object)

In [14]:
df.describe

<bound method NDFrame.describe of            Date        Open        High         Low       Close   Adj Close  \
0    2019-05-28  126.980003  128.000000  126.050003  126.160004  124.626442
1    2019-05-29  125.379997  125.389999  124.040001  124.940002  123.421265
2    2019-05-30  125.260002  125.760002  124.779999  125.730003  124.201653
3    2019-05-31  124.230003  124.620003  123.320000  123.680000  122.176575
4    2019-06-03  123.849998  124.370003  119.010002  119.839996  118.383247
..          ...         ...         ...         ...         ...         ...
246  2020-05-18  185.750000  186.199997  183.960007  184.910004  184.396439
247  2020-05-19  185.029999  186.600006  183.490005  183.630005  183.119995
248  2020-05-20  184.809998  185.850006  183.940002  185.660004  185.660004
249  2020-05-21  185.399994  186.669998  183.289993  183.429993  183.429993
250  2020-05-22  183.190002  184.460007  182.539993  183.509995  183.509995

       Volume
0    23128400
1    22763100
2    16829600
3    26646800
4    37983600
..        ...
246  35306600
247  26799100
248  31261300
249  29119500
250  20809700

[251 rows x 7 columns]>

In [16]:
print(df.tail(5).sort_values('High',ascending=True))

           Date        Open        High         Low       Close   Adj Close  \
250  2020-05-22  183.190002  184.460007  182.539993  183.509995  183.509995
248  2020-05-20  184.809998  185.850006  183.940002  185.660004  185.660004
246  2020-05-18  185.750000  186.199997  183.960007  184.910004  184.396439
247  2020-05-19  185.029999  186.600006  183.490005  183.630005  183.119995
249  2020-05-21  185.399994  186.669998  183.289993  183.429993  183.429993

       Volume
250  20809700
248  31261300
246  35306600
247  26799100
249  29119500

In [ ]:
#focus on summary statistics 
#fundamental statistics